<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Connexion</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label class="block text-sm/6 font-medium text-gray-900">Username</label>
        <div class="mt-2">
          <input formControlName="username" type="text" 
                 [class.ring-red-500]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                 class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6" />
        </div>
        
        @if (loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')) {
          <p class="mt-1 text-xs text-red-600">Le nom d'utilisateur est requis.</p>
        }
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label class="block text-sm/6 font-medium text-gray-900">Password</label>
        </div>
        <div class="mt-2">
          <input formControlName="password" type="password" 
                 [class.ring-red-500]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                 class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6" />
        </div>

        @if (loginForm.get('password')?.touched) {
          @if (loginForm.get('password')?.hasError('required')) {
            <p class="mt-1 text-xs text-red-600">Le mot de passe est requis.</p>
          } @else if (loginForm.get('password')?.hasError('minlength')) {
            <p class="mt-1 text-xs text-red-600">Le mot de passe doit faire au moins 6 caractères.</p>
          }
        }
      </div>

      <div>
        <button type="submit" 
                [disabled]="loginForm.invalid"
                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 disabled:bg-gray-400">
          Sign in
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Pas encore inscrit ?
      <a routerLink="/register" class="font-semibold text-indigo-600 hover:text-indigo-500 cursor-pointer">S'inscrire</a>
    </p>
  </div>
</div>