<header class="w-full bg-[#333] shadow">
  <nav class="mx-auto flex max-w-7xl items-center justify-between px-4 py-3 sm:px-6 lg:px-8">
    <!-- Brand -->
        <a 
      routerLink="/tasks" 
      class="text-3xl sm:text-4xl font-extrabold text-white cursor-pointer hover:text-slate-200 transition-colors">
      Task Manager 🚀
      </a>

    <!-- Right side -->
    @if (authService.currentUser()) {
      <div class="flex items-center gap-8">
        <a
          href="/dashboard"
          class="rounded-md bg-teal-600 px-3 py-1.5 text-sm font-medium text-white shadow-sm transition-colors hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2"
        >
          Dashboard
        </a>

        @if (authService.currentUser()?.role === 'ADMIN') {
          <a
            routerLink="/users"
            class="rounded-md bg-purple-600 px-3 py-1.5 text-sm font-medium text-white shadow-sm transition-colors hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
          >
            Gérer les utilisateurs
          </a>
        }
        <span class="text-l text-white">Bonjour {{authService.currentUser()?.username}} </span>
        <button
          type="button"
          (click)="logout()"
          class="rounded-md bg-red-600 px-3 py-1.5 text-sm font-medium text-white shadow-sm transition-colors hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
        >
          Déconnexion
        </button>
      </div>
    }
  </nav>
</header>
