<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Inscription</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label class="block text-sm/6 font-medium text-gray-900">Username</label>
        <div class="mt-2">
          <input formControlName="username" type="text" 
                 class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6" />
        </div>
        @if (registerForm.get('username')?.touched && registerForm.get('username')?.hasError('required')) {
          <p class="mt-1 text-xs text-red-600 italic">Le nom d'utilisateur est requis.</p>
        }
      </div>

      <div>
        <label class="block text-sm/6 font-medium text-gray-900">Password</label>
        <div class="mt-2">
          <input formControlName="password" type="password" 
                 class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 focus:outline-indigo-600 sm:text-sm/6" />
        </div>
        @if (registerForm.get('password')?.touched) {
          @if (registerForm.get('password')?.hasError('required')) {
            <p class="mt-1 text-xs text-red-600 italic">Le mot de passe est requis.</p>
          } @else if (registerForm.get('password')?.hasError('minlength')) {
            <p class="mt-1 text-xs text-red-600 italic">6 caractères minimum.</p>
          }
        }
      </div>

      <div>
        <button type="submit" 
                [disabled]="registerForm.invalid"
                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 disabled:bg-slate-400">
          S'inscrire
        </button>
      </div>
    </form>

    @if (errorMessage()) {
      <p class="mt-6 text-center text-sm/6 text-red-500 font-medium">
        {{ errorMessage() }}
      </p>
    }

    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Déjà un compte ?
      <a routerLink="/login" class="font-semibold text-indigo-600 hover:text-indigo-500 cursor-pointer">Se connecter</a>
    </p>
  </div>
</div>